@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

 

table {
  border-collapse: collapse;
  width: 100%;
  
}

table, th, td {
  border: 2px solid #242222;
  padding: 12px 8px 8px 8px;
  
  text-align: center;
}

th {
  background-color: #242222;
  color: #ffffff;
}

 
/* button {
  --color: #1c1b1d;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 button:hover {
  color: #fff;
 }
 
 button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 button:active:before {
  background: #444445;
  transition: background 0s;
 }
  */






 